* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

body {
  background-color: #F3F5F5;
}

.text-themed {
  color: tomato;
}

.btn-themed {
  color: white;
  background-color: tomato;
  border-color: tomato;
}

.btn-themed:hover {
  color: white;
  background-color: #C82333;
}

.navbar-brand {
  color: tomato !important;
}

h1.h4 {
  padding: 20px 0px;
  color: #AAA;
}

h4 {
  margin-bottom: 0px;
}

.card-item {
  width: 200px !important;
  display: inline-block;
  margin: 0px 10px 10px 0px;
}

.card-item .card-body a.btn {
  height: 110px;
}

.card-footer {
  text-align: center;
}

.card-prices .old-price {
  color: #AAA;
}

.grayscaled-img {
  filter: grayscale(100%);
}

.delete {
  display: block;
  color: #d63031;
  border-style: none;
  background-color: white;
  margin: auto;
}

.delete:hover {
  text-decoration: underline;
}

.thead-dark th {
  color: tomato !important;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343A40;
  color: #FFF;
  width: 100%;
  height: 100px;
}

.product-img {
  background-color: #F7F7F7;
  height: 237.23px;
}

.tr-error {
  max-width: 300px;
}

.offer-title {
  font-size: 28px;
}

.offer-author {
  margin-left: 0;
}

.offer-author img {
  width: 40px;
}

.offer-author-name {
  max-width: 142px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#offer .card-footer button {
  outline: none;
  font-size: 14px;
}

#recommended-offer .prices small,
#recommended-offer .prices p {
  line-height: 1em;
}